<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>🧠 AI Panel</h2>
    <a href="/dashboard">Detector</a>
    <a href="/history">History</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">
    <h1>Prediction History</h1>

    {% for item in history %}
    <div class="history-card">
        <p><strong>{{ item.result }}</strong> ({{ item.confidence }}%)</p>
        <p>{{ item.text }}</p>
        <span>{{ item.time }}</span>
    </div>
    {% endfor %}
</div>

</body>
</html>
